* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.bg-clr {
  background: #dddddd63;
}

.page-bg {
  background-image: url("../images/main-banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.login-banner-right {
  background-image: url("../images/login-side.svg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login-heading {
  padding-bottom: 50px;
}

.login-heading img {
  width: 120px;
}

.login-heading h2 {
  color: #0277FA;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.login-heading h1 {
  color: #0277FA;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 20px;
}

.login-email-field {
  width: 80%;
  margin: 0 auto;
}

.login-email-field label {
  color: #0277FA;
  font-size: 16px;
  font-weight: 500;
}

.login-email-field input {
  background-color: transparent;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #797979;
}

.login-email-field input:active,
.login-email-field input:focus {
  background-color: transparent;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #797979;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.login-email-field input,
.login-email-field input:hover,
.login-email-field input:focus,
.login-email-field input:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  box-shadow: 0 0 0 30px #ffffff inset !important;
}

.login-content-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.login-content {
  width: 80%;
}

.login-button-outer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-button-outer .login-btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.84deg, #0277FA -36.1%, rgba(2, 119, 250, 0.5) 143.59%);
  color: #ffffff;
  border: none;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-outer .login-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.84deg, #0276fae0 -36.1%, rgba(2, 118, 250, 0.281) 143.59%);
}

.login-button-outer .login-btn:active {
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-logo h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.login-logo h1 span {
  font-weight: bold;
}

.login-banner-right {
  position: relative;
}

.login-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.login-logo img {
  width: 100%;
}

.login-email-field {
  position: relative;
}

.login-email-field i {
  position: absolute;
  right: 13px;
  top: 70px;
  color: #797979;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .login-button-outer {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .login-heading {
    padding-bottom: 20px;
  }

  .login-heading img {
    width: 100px;
  }

  .login-heading h1 {
    padding-top: 10px;
  }
}

.navbar-header {
  background: #0277FA;
}

@media screen and (max-width: 991px) {
  .responsive-mobile-navbar {
    height: 100vh;
    overflow-y: scroll;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.dropdown-logout img {
  cursor: pointer;
}

.nav-link:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-link {
  color: #ffffff !important;
  font-size: 17px !important;
  letter-spacing: 0.5px !important;
  padding-left: 20px !important;
}

.nav-link .icon-blue {
  display: none;
}

.nav-second-level li {
  list-style: none !important;
  background: transparent !important;
}

.nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
  padding-left: 60px;
  padding-top: 5px;
}

.nav-link-show:after {
  float: right;
  content: '\f106';
  font-family: 'FontAwesome';
  padding-left: 60px;
  padding-top: 5px;
}

.nav-item ul.nav-second-level {
  padding-left: 0;
}

.nav-item ul.nav-second-level>.nav-item {
  padding-left: 20px;
}

.has-search-input .form-control {
  padding-left: 2.375rem;
}

.has-search-input .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  padding-left: 15px;
  padding-right: 10px;
}

.search-field-outer {
  width: 100%;
  margin: 0 auto;
}

.search-field {
  border-radius: 33px;
  height: 51px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-field:active,
.search-field:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-field-inner .fa-search {
  color: #0277FA !important;
}

.search-field-inner input::-webkit-input-placeholder {
  color: #9BA9B0;
  font-size: 15px;
}

.search-field-inner input:-ms-input-placeholder {
  color: #9BA9B0;
  font-size: 15px;
}

.search-field-inner input::-ms-input-placeholder {
  color: #9BA9B0;
  font-size: 15px;
}

.search-field-inner input::placeholder {
  color: #9BA9B0;
  font-size: 15px;
}

.profile img {
  width: 46px;
  height: 46px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.profile span {
  color: white;
  font-size: 16px;
}

.logo-header img {
  margin-left: 75px;
  /* position: fixed; */
  z-index: 999;
}

.content-wrapper {
  margin-top: 80px !important;
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: calc(100vh - 3.5rem);
    margin-top: 4.8rem;
    background: #0277FA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    overflow-y: auto;
  }

  /* / width / */
  .sidenav::-webkit-scrollbar {
    width: 0px;
  }

  /* / Track / */
  .sidenav::-webkit-scrollbar-track {
    background: #0277FA;
  }

  /* / Handle / */
  .sidenav::-webkit-scrollbar-thumb {
    background: #0277FA;
  }

  /* / Handle on hover / */
  .sidenav::-webkit-scrollbar-thumb:hover {
    background: #0277FA;
  }

  .sidenav .nav-item {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }

  .sidenav .nav-item.active {
    background: linear-gradient(273.01deg, #0277FA -8.88%, #FFFFFF 38.31%, #FFFFFF 38.32%);
  }

  .sidenav .nav-item.active .nav-link {
    color: #0277FA !important;
  }

  .sidenav .nav-item.active .nav-link .icon-blue {
    display: block;
  }

  .sidenav .nav-item.active .nav-link .icon-white {
    display: none;
  }

  .sidenav .nav-item.active .sidenav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sidenav .nav-item:hover {
    background: linear-gradient(273.01deg, #0277FA -8.88%, #FFFFFF 38.31%, #FFFFFF 38.32%);
  }

  .sidenav .nav-item:hover .nav-link {
    color: #0277FA !important;
  }

  .sidenav .nav-item:hover .nav-link .icon-white {
    display: none;
  }

  .sidenav .nav-item:hover .nav-link .icon-blue {
    display: block;
  }

  .sidenav .nav-item:hover .sidenav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .search-field-outer {
    width: 47%;
    margin: 0 auto;
  }

  .content-wrapper {
    margin-left: 250px;
    margin-top: 80px;
  }

  .navbar-collapse {
    padding-left: 15% !important;
  }

  .navbar-header-right-section {
    padding-right: 70px;
  }
}

/* media query end */
.search-field,
.search-field-inner {
  width: 100% !important;
}

.navbar-expand-lg .sidenav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-link-text {
  padding-left: 15px !important;
}

/* notification */
.notification-dropdown {
  left: -345px !important;
  border-radius: 10px;
  max-width: 400px;
}

@media (max-width: 992px) {
  .notification-dropdown {
    left: 0px !important;
    border-radius: 10px;
    width: 400px;
  }
}

.notification-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.notification-profile p span {
  color: #0277FA;
  font-size: 16px;
  font-weight: bold;
  padding-right: 5px;
}

.notification-profile p {
  color: #A8A8A8;
  margin-bottom: 0px;
}

.notification-profile p:hover {
  text-decoration: none !important;
  border-bottom: none !important;
}

.notification-area:hover {
  text-decoration: none !important;
  border-bottom: none !important;
}

.notification-profile:hover {
  background-color: gainsboro !important;
}

.notification-profile {
  border-bottom: 1px solid gainsboro !important;
  padding-left: 20px;
}

.notification-area:last-of-type .notification-profile {
  border-bottom: none !important;
}

.dropdown-menu {
  left: -195px;
}

.icon-button {
  position: relative;
  cursor: pointer;
}

.icon-button__badge {
  position: absolute;
  top: 3px;
  right: 2px;
  width: 8px;
  height: 8px;
  background: #00FFB8;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.dropdown-menu .fa-sign-out {
  color: #0277FA;
}

.dropdown-menu .logout {
  font-size: 14px;
  color: #A8A8A8;
}

.logout-dropdown {
  left: -150px !important;
}

.calendar-range-picker {
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.calendar-range-picker #reportrange {
  border: none !important;
  border-radius: 4px;
  background: #ffffff;
  padding: 8px 10px;
  width: 100%;
  cursor: pointer;
}

.calendar-range-picker #reportrange span {
  color: #3A3A3A;
}

.calendar-range-picker #reportrange .fa-calendar {
  color: #0277FA;
}

.calendar-range-picker #reportrange .fa-caret-down {
  color: #0277FA;
}

.tabs {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.tabs .tabs-header {
  padding-bottom: 20px;
}

.tabs .tabs-header-left-content h1 {
  font-size: 22px;
  color: #0277FA;
  position: relative;
  padding-left: 50px;
  padding-top: 10px;
  margin-bottom: 4px;
}

.tabs .tabs-header-left-content img {
  position: absolute;
  top: 23px;
}

.tabs .tabs-header-left-content p {
  padding-left: 50px;
  color: #3A3A3A;
  margin-bottom: 0px;
  font-size: 16px;
}

.tabs .tabs-header-right-content {
  padding-top: 10px;
}

.tabs .tabs-header-right-content button {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #0277FA;
  font-size: 14px;
  border: none;
  height: 38px;
  width: 190px;
}

.tabs .overview {
  font-size: 20px;
  color: #0277FA;
  position: absolute;
  margin-bottom: 0px;
  top: 101px;
}

.tabs ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.tabs ul li .nav-link {
  color: #3A3A3A !important;
  font-size: 16px !important;
  color: #9C9C9C !important;
}

.tabs ul li .nav-link.active {
  background: transparent !important;
  border: none !important;
  color: #0277FA !important;
}

.tabs ul li .nav-link:hover {
  background: transparent !important;
  border: none !important;
  color: #0277FA !important;
}

.heading-top h1 {
  color: #0277FA;
  font-size: 28px;
  padding-left: 55px;
}

.heading-top p {
  padding-left: 55px;
  color: #3A3A3A;
  margin-bottom: 20px;
  font-size: 18px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards .cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.cards .cards_item .card-outer {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 15px 10px 15px;
  position: relative;
  width: 100%;
}

.cards .cards_item .card-outer .card-inner-body .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .cards_item .card-outer .card-inner-body .card-content p {
  margin-bottom: 8px;
}

.cards .cards_item .card-outer .card-inner-body .card-content p:nth-of-type(1) {
  color: #3A3A3A;
  font-size: 16px;
  font-weight: bold;
  padding-right: 8px;
}

.cards .cards_item .card-outer .card-inner-body .card-content p:nth-of-type(2) {
  font-size: 16px;
  color: #686868;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards .cards_item .card-outer .card-bottom {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cards .cards_item .card-outer .card-bottom a {
  text-decoration: none;
  cursor: pointer;
  background-color: #0277FA;
  color: #ffffff;
  border: none;
  padding: 8px 40px;
  border-radius: 20px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.cards .cards_item .card-outer .card-bottom a:hover {
  -webkit-box-shadow: 0 0 7px 0 #0277FA inset, 0 0 10px 2px #0277FA;
  box-shadow: 0 0 7px 0 #0277FA inset, 0 0 10px 2px #0277FA;
  border: 3px solid #0277FA;
  background: transparent;
  color: #0277FA;
  font-weight: 500;
  letter-spacing: 2px;
}

.cards .cards_item .card-outer .card-tag {
  position: absolute;
  right: 15px;
  top: 17px;
}

.cards .cards_item .card-outer .card-tag p {
  background: #FF6969;
  color: #ffffff;
  width: 76px;
  height: 24px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 0px;
}

@media (min-width: 1460px) {
  .cards .cards_item {
    width: 25%;
  }
}

@media screen and (max-width: 1459px) and (min-width: 1199px) {
  .cards .cards_item {
    width: 33.3333%;
  }
}

@media screen and (max-width: 1198px) and (min-width: 992px) {
  .cards .cards_item {
    width: 50%;
  }
}

@media screen and (max-width: 991px) and (min-width: 933px) {
  .cards .cards_item {
    width: 33.3333%;
  }
}

@media screen and (max-width: 932px) and (min-width: 615px) {
  .cards .cards_item {
    width: 50%;
  }
}

@media screen and (max-width: 615px) {
  .cards .cards_item {
    width: 100%;
  }
}

.inner-heading h1 {
  color: #0277FA;
  font-size: 28px;
}

.plot-detail-avenue-section {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  min-height: 300px;
  padding: 25px 15px;
}

.detail-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.detail-cards .detail-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 25%;
}

.detail-cards .detail-card-item .detail-card-outer {
  width: 100%;
}

.detail-cards .detail-card-item .detail-card-outer .detail-card-content p:nth-of-type(1) {
  font-size: 16px;
  color: #686868;
}

.detail-cards .detail-card-item .detail-card-outer .detail-card-content p:nth-of-type(2) {
  font-size: 16px;
  color: #3A3A3A;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 991px) {
  .detail-cards {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .detail-cards .detail-card-item {
    width: 33.3333%;
  }
}

.client-table {
  padding: 25px 15px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 20px;
}

.client-table table {
  border-collapse: collapse;
  margin: 50px auto;
}

.client-table table thead tr th {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  text-align: center !important;
  color: #0277FA;
}

.client-table table thead tr .number-plots {
  width: 115px;
}

.client-table table tbody tr td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  text-align: center !important;
  color: #3A3A3A;
}

.client-table table tbody tr .call {
  text-decoration: none;
  color: #ffffff;
  background-color: #0277FA;
  border-radius: 20px;
  padding: 1px 15px;
}

.client-table table tbody tr td:first-child img {
  width: 18px;
}

.client-table table tbody tr .name-person a {
  text-decoration: none !important;
  color: #3A3A3A !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 760px) and (max-device-width: 885px) {
  .client-table table {
    width: 100%;
  }

  .client-table table tbody tr {
    margin-top: 20px;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 15px;
  }

  .client-table table tbody tr td:last-child {
    border-bottom: none;
  }

  .client-table table,
  .client-table thead,
  .client-table tbody,
  .client-table th,
  .client-table td,
  .client-table tr {
    display: block;
  }

  .client-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .client-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .client-table td:before {
    position: absolute;
    top: 20px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #0277FA;
    font-weight: bold;
  }
}

.client-table .page-item:first-child .page-link,
.client-table .page-item:last-child .page-link {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.client-table .p-left,
.client-table .p-right {
  color: #0277FA;
  padding-top: 2px;
}

/*# sourceMappingURL=admin-style.css.map */
/* new */
.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn h1 {
  font-size: 0.7rem;
  margin-bottom: 0px;
  color: white;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}

.action-btn h1:nth-of-type(1) {
  background: #0277FA;
}

.action-btn h1:nth-of-type(2) {
  background: red;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.form-wrapper input {
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none !important;
}

.form-wrapper button {
  border: none !important;
  background: #0277FA;
  color: white;
  box-shadow: none !important;
  font-size: 0.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 150px;
  width: 100%;
  height: 50px;
}